.title {
    /* overflow: hidden hides the ::before element of the sibling */
    overflow: visible !important;
}
.activething td+td:last-child,
.activething:has(.title) + tr td:last-child {
    position: relative;
}
.activething td+td:last-child::before,
.activething:has(.title) + tr td:last-child::before {
    content: " ";
    display: block;
    background-color:#ff6600;
    position: absolute;
    left:-3px;
    width:2px;
    /* Extend the bar slightly upwards and downwards to bridge the table cell borders between <tr>s */
    top:-1px;
    bottom:-1px;
}
.fatitem td:has(form)::before {
    /* Cover the empty <tr> before the reply form if there is one */
    top:-13px !important;
}
